pre-commit
pendulum
pandas
grpcio
sqreen
pytest
patch-env
doppler-env
python-dotenv>=0.17.1
tzlocal==2.1
google-api-python-client==1.12.8
boto3==1.16.51
botocore==1.19.51
mitmproxy==7.0.4
libhoney
faker==11.2.0
black==21.12b0
launchdarkly-server-sdk
wrapt==1.13.3
